*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(240, 128, 128, 0.757);
}

h1{
    font-size: 100px;
    text-align: center;
    margin-top: 150px;
}

div{
    display: flex;
    justify-content: center;
}
.btn{
    width: 380px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgba(252, 204, 109, 0.938);
    cursor: pointer;
    margin-top: 50px;
}

.btn:hover{
    background-color: rgba(254, 145, 106, 0.938);
}